@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&display=swap');

html, body{
    background: linear-gradient(to right top, rgb(144, 0, 255), rgb(158, 184, 255));
    height: 100%;
    font-family: 'Lato';
    color: #fff;
}